{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}

<div class="col-md-4 tag searchitem">

    {{#if this.configuration.isAttachmentAllowed}}
     {{#if attachments}}
     {{#each attachments}}
     {{#if this.image}}
     <a href="{{friendlyUrl}}">
     <img src="{{this.path}}" alt class="img-responsive" />
     </a>
     {{else}}
     <div class="scf-comment-att scf-icon-attachment scf-small "><a class="scf-link scf-comment-att-link" href="{{this.path}}" target="_blank"></a></div>
         {{/if}}
          {{/each}}
          {{/if}}
          {{/if}}


          {{#each tags}}
          <span>{{title}}</span>
          
          {{/each}}


        {{#if subject}}
            <a href={{#if friendlyUrl}}"{{friendlyUrl}}">{{else}}"{{parentId}}.html#{{id}}">{{/if}}<p>{{abbreviate subject maxWords=8}}</p></a>
        {{else if name}}
            <a href={{#if friendlyUrl}}"{{friendlyUrl}}">{{else}}"{{parentId}}.html#{{id}}">{{/if}}{{abbreviate name maxWords=8}}</a>
        {{else}}
            <a href={{#if friendlyUrl}}"{{friendlyUrl}}">{{else}}"{{parentId}}.html#{{id}}">{{/if}}{{lastPath resourceType}}</a>
        {{/if}}

    <!--<div>
        <span class="text-primary small scf-searchresult-author">
            {{author.name}}
        </span>
        <span class="text-muted small scf-searchresult-created">
            &#8212; {{i18n "Created"}} {{pretty-time created}}
        </span>
    </div>
    <div class="small scf-searchresult-message">
        {{{message}}}
    </div> -->

</div>