{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div class="container-fluid scf-search-results scf" data-component-id="{{id}}" data-scf-component="knowledgeportal/components/content/search">

 	<div class="row">
        <div class="col-md-12">
            <form action="" data-paths="{{this.paths}}" class="scf-js-searchresultform" autocomplete="off">
                <div class="input-group">
                    <input name="input_value" type="text" class="form-control scf-search-value scf-js-searchresult-value" required />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default scf-search-result-submit" title="{{i18n "Search"}}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <section>
    <div class="container">
    <div class="row">
       <h3> {{i18n "Showing"}}
        <!--
        {{pageInfo.pageSize}}
        {{i18n " out of "}}
        -->
        {{totalSize}} {{i18n " results"}} </h3>


        <div class="col-md-12">
            {{#each items}}
                {{#if draft}}
                    {{#if approved}}
                        {{#unless isClosed}}
                            {{include this resourceType='knowledgeportal/components/content/search/searchresult' template="searchitem"}}
                        {{/unless}}
                    {{/if}}
                {{else}}
                    {{include this resourceType='knowledgeportal/components/content/search/searchresult' template="searchitem"}}
                {{/if}}
            {{/each}}
        </div>
    </div>
    </div>
    </section>
    <!-- pagination -->
    {{include this resourceType="social/commons/components/hbs/pages"}}
    <!-- eo pagination -->
</div>