/*
 *
 * ADOBE CONFIDENTIAL
 * __________________
 *
 *  Copyright 2016 Adobe Systems Incorporated
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

.scf-wizardview-header {
    display: -webkit-flex;
    /* @polyfill Safari */
    display: flex;
    padding: 0 0.9375rem;
    height: 4.125rem;
    background-color: #FAFAFA;
}

.scf-wizardview-header .coral-Step-markerContainer {
    display: none;
}

.scf-wizard-title {
    line-height: 4.125rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scf-wizard-controls {
    margin-top: 0.875rem;
}

.scf-wizard-controls button,
.scf-wizard-controls a {
    margin-right: 0.625rem;
}

.scf-wizard-steplist {
    -webkit-flex: 1;
    flex: 1;
    margin-top: 0.875rem;
}
