{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2015 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div class="scf scf-topic scf-jounral-entry" data-component-id="{{id}}" data-scf-component="social/journal/components/hbs/entry_topic">
    {{#if draft}} {{#if canEdit}} {{include this template="draft"}} {{/if}} {{else}} {{#if this.configuration.isAttachmentAllowed}} {{#if attachments}}
    <div class="col-md-12 banner detail-cover">
        {{#each attachments}} {{#if this.image}}
        <img src="{{this.path}}" class="img-responsive" style="width: 100%;height: 400px;" /> {{else}}
        <div class="scf-comment-att scf-icon-attachment scf-small "><a class="scf-link scf-comment-att-link" href="{{this.path}}" target="_blank">{{this.name}}</a></div>
        {{/if}} {{/each}} {{#if configuration.isTaggingAllowed}}
        <div class="scf-blog-topic-tags-container">
            {{#each tags}}
            <span class="tag-display">{{title}}</span> {{/each}}
        </div>
        {{/if}}
        <div class="clear:both"></div>
    </div>
    {{/if}} {{/if}}

    <div class="col-md-8 pull-left">
        {{#if configuration.isTranslateAllButtonAllowed}}
        <span evt="click=translateAll" style='display:none;' data-translation-parent-box-class="scf-topic" data-translation-parent-id-attr="data-component-id" data-translation-parent-box-id="{{id}}" class='generic-translation-all-button scf-comment-action scf-link'>
         {{#if showingTranslationAll}}
         {{i18n "Show Original"}}
         {{else}}
         {{#if translateAllInProgress}}
         {{i18n "Translating"}}
         {{else}}
         {{i18n "Translate All"}}
         {{/if}}
         {{/if}}
         </span> {{/if}}
        <h3 data-translate-prop="jcr:title" data-translate-respath="{{id}}">
            {{#if showingTranslation}}
            {{translationTitle}}
            {{else}}
            {{subject}}
            {{/if}}
         </h3>
    </div>
    {{#if showingTranslation }}
    <div class='translation-attribution'><i>{{translationAttribution}}</i></div>
    {{/if}}

    <div class="col-md-8 pull-left">
        {{include this template="toolbar"}}
    </div>
    <div class="col-md-8 pull-left">

        <div class="scf-js-journal-comment-section">
            <ul class="scf-comments-list">
                {{#each items}} {{#if isVisible}} {{include this resourceType="social/journal/components/hbs/comment"}} {{/if}} {{/each}}
            </ul>
            <!-- pagination -->
            {{include this resourceType="social/commons/components/hbs/pages"}}
            <!-- eo pagination -->
            {{#unless isClosed}} {{#if canReply}}
            <h3>{{i18n "Post Comment"}}</h3>
            <div class="scf-composer-block scf-is-collapsed scf-js-composer-block">
                <img class="scf-composer-avatar" src="{{loggedInUser.avatarUrl}}" />
                <form evt="submit=addReply" class="scf-composer">
                    {{#if configuration.isRTEEnabled}}
                    <textarea class="scf-composer-msg scf-rte-placeholder" placeholder="{{i18n " Write a comment "}}" evt="click=toggleComposerCollapse"></textarea>
                    <div class="scf-rte-composer">
                        <textarea class="scf-composer-msg" data-rte-type="comment" data-attrib="replyMessage" data-field-type="rte" name="replyMessage" placeholder="{{i18n " Write a comment "}}"></textarea>
                    </div>
                    {{else}}
                    <textarea class="scf-composer-msg" data-attrib="replyMessage" name="replyMessage" placeholder="{{i18n " Write a comment "}}" evt="click=toggleComposerCollapse"></textarea>
                    {{/if}}
                    <div class="scf-composer-toolbar">
                        {{#if configuration.isAttachmentAllowed}}
                        <button class="btn btn-primary scf-composer-action scf-composer-attach" evt="click=openAttachmentDialog">{{i18n "Attach"}}</button>
                        <input class="scf-comment-attachment-input scf-js-cmt-att-input" type="file" data-attrib="attachment" name="attachment" multiple evt="change=renderAttachmentList" /> {{/if}}
                        <div class="scf-composer-actions">
                            <button type="reset" class="btn btn-default scf-composer-action" evt="click=toggleComposerCollapse">{{i18n "Cancel"}}</button>
                            <input type="submit" class="btn btn-primary" value="{{i18n " Reply "}}" evt="submit=addReply" />
                        </div>
                        {{#if configuration.isAttachmentAllowed}}
                        <div class="scf-composer-attachments">
                            <ul class="scf-attachment-list scf-js-composer-att"></ul>
                        </div>
                        {{/if}}
                    </div>
                </form>
            </div>
            {{/if}} {{/unless}}
        </div>
        {{/if}}
    </div>
</div>