
    <nav class="scf-site-header navbar navbar-default hidden-xs" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand scf-js-site-title" data-id="{{siteId}}" href="{{siteUrl}}.html"><img src="/content/dam/gov-kp/LOGO.jpg" height="63" width="393"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                {{#if loggedInUser.loggedIn}}
                    <ul class="nav navbar-nav">
                        <li><a href="{{siteUrl}}/profile.html">PROFILE</a></li>
                        {{#if messagingAllowed}}
                            <li>
                                <script>
                                    var data = {};
                                    data["messageFolder"] = "inbox";
                                    var messagecount;
                                    $.ajax({
                                        type: "GET",
                                        url: "{{siteUrl}}" + "/messaging/jcr:content/content/primary/messagebox_5ab3.social.0.0.json",
                                        async: true,
                                        data: data,
                                        success: function(json) {
                                            messagecount = json["messageCounts"].nonDeletedUnreadCount;
                                            $("a.messageBoxPrimaryLink").html($("a.messageBoxPrimaryLink").html() + " <span class=\"badge\">" + messagecount + "</span>");
                                        }
                                    });

                                </script>
                                <a href="{{siteUrl}}/messaging.html" class="messageBoxPrimaryLink">MESSAGE</a>
                            </li>
                        {{/if}}
                        <!--li>
                            <a href="{{siteUrl}}/notifications.html">
                          {{i18n "Notifications"}} <span class="badge" id="scf-js-notificationsUnreadCount" data-siteUrl="{{siteUrl}}">0</span>
                       </a-->
                        </li>
                    </ul>
                {{/if}}
                <div class="nav navbar-nav navbar-right">
                    <ul class="nav navbar-nav">
                        {{#unless loggedInUser.loggedIn}}
                            <li><a href="{{siteUrl}}/signin.html">LOGIN</a></li>
{{else}}
    <li><a href="/system/sling/logout.html?resource={{siteUrl}}.html">LOGOUT</a></li>
                        {{/unless}}
                    </ul>
                    <!--button id="scf-language-picker" class="nav btn navbar-btn navbar-nav navbar-right dropdown-toggle navbar-link" type="button" data-toggle="dropdown">{{i18n baseLanguage}}
                      <span class="caret"></span></button-->
                    <ul class="dropdown-menu">
                        <li><a href="#">{{i18n baseLanguage}}</a></li>
                        {{#each siteLanguageCopiesURLs}}
                            <li><a href="{{this}}.html">{{i18n @key}}</a></li>
                        {{/each}}
                    </ul>
                </div>
                <div class="nav navbar-nav navbar-right">
                    {{#include this.id resourceType="social/commons/components/hbs/quicksearch" }}
                        {"endpoint":"{{searchPagePath}}/jcr:content/content/primary/searchresult", "paths":"{{this.ugcPath}}", "searchPagePath":"{{searchPagePath}}"}
                    {{/include}}
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

{{include this.id path="/content/knowledgeportal/en/topnav" resourceType="knowledgeportal/components/structure/topnav"}}
    {{include this.id path="groupnav" resourceType="social/console/components/hbs/groupnavbar"}}
    <div class="container-fluid scf-site-body-content-container">
        <!--div class="row scf-breadcrumbs-box">
            <div class="col-md-12">
                {{include this.id path="content/breadcrumbs"}}
            </div>
        </div-->
      {{#if bannerImage}}
        <div class="scf-site-brand-img hidden-xs" style="background-image:url('{{bannerImage}}');"></div>
    {{/if}}
        {{include this.id path="content"}}
    </div>
        <footer class="page__footer">
        <p class="page__copyright">${"&copy; {0} Knowledge Portal Site Site. All rights reserved." @ i18n, format=main.year, context='html'}</p>
    </footer>
    {{include this.id path="clientcontext" resourceType="cq/personalization/components/clientcontext"}} {{include this.id path="cloudservices" resourceType="cq/cloudserviceconfigs/components/servicecomponents"}}

<img src="/content/dam/gov-kp-xzrar/images/ribbon.png" id="beta-ribbon" style="position: absolute;top: -81px;left: -82px;">