







/* ==========================================================================
   custom styles
   ========================================================================== */

body{font-family: 'blogger_sansregular';}
span.glyphicon.glyphicon-search.pull-right { padding: 4px;  padding-left: 25px;    margin-right: -20px;}
a.btn.btn-default.btn-lg { font-size: 15px; padding: 7px;}
.navbar-default { background-image: none; background-color: #ff0409; color: #FFF; border-color: #ff0409;  min-height: 90px;margin-bottom: 10px;    border-radius: 0px;}

.nav-pills>li>a { padding-top: 10px; padding-bottom: 10px;  line-height: 10px;}
.nav-pills>li:nth-child(1) a{padding-left: 0px;}
.nav-pills>li { line-height: 26px;}
.nav>li>a { padding: 10px 9px;}
.nav-pills>li>a {  color: #000;text-transform: uppercase; font-size: 13px;}
ul.nav.navbar-nav.navbar-right { margin-top: 20px;}
#myNavbar>.navbar-nav>li {  padding: 10px;line-height: 35px; color:#FFF;}#myNavbar>.navbar-nav>li a {color:#FFF;}
#myNavbar>.navbar-nav>li:nth-child(1) a {color: #8e8888; border-radius: 10px; padding: 10px 35px;    background: #fff;font-size: 12px;}
#myNavbar>.navbar-nav>li:nth-child(3) a {line-height: 10px;    padding-left: 0px;    padding-top: 3px;    padding-right: 0px;}
.login .navbar-nav>li:nth-child(3) a{padding-top: 10px !important;line-height: 20px !important;}
.tag span{    background: #ff0409; color: #FFF;  padding: 11px 20px;}
.tag img{padding-bottom: 9px;}.tag p{margin-top: 24px;  font-size: 17px;color: #000;}
.content{background-image: url("../img/bg.png");padding-top: 25px; border-top: 1px solid #ccc;    padding-bottom: 30px;}
#second{margin-top: 20px;}
#myNavbar>.navbar-nav>li:nth-child(1) a:hover { color: #333;background-color: #FFF;}
footer{    background: #000;  color: #FFF;  padding: 10px;}
footer p{margin-bottom: 0px; padding: 10px;}
nav#custom {margin-bottom: 10px;   min-height: auto;}
@media (min-width: 1100px){   #left-shift{ margin-left: 8%;}}
.admin img{border-radius: 50%;}
.admin span{    padding: 0px 15px;  letter-spacing: 0.5px; font-weight: 500;}
.banner span{    background: #ff0409; color: #FFF; padding: 10px 20px;}
.banner img{padding-bottom: 9px;}
.banner {margin-top: 15px;}
.list p{margin-bottom: 5px;}
.list {margin: 20px 0px;}
.button a{    background: #ff0409; color: #FFF;  padding: 10px 20px; border-radius: 3px;}
.button a:nth-child(2){margin-left: 25px;}
p.button {  margin-top: 40px;}
#myNavbar li img{    border-radius: 50%; height: 30px; margin: 0px;}
.glyphicon {  top: 0px;}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
        top: 170px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 350px
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-dialog {
    width: 400px;
}
.modal-header{
    background-color: #000;
	color: #fff;}

.input-group-addon {
    color: #fff;
    background: #3276B1;
}
.input-group-addon {
    color: #ccc;
    background: #fff;
}
.modal-content {
    position: relative;
    background-color: #fff;
	    background-clip: padding-box;
		    border: 0px;
    border-radius: 0px;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
   opacity: 49.2;
}
.btn-default {
    color: #fff;
    background-color: #ff000f;
	 padding-left: 31px;
    padding-right: 28px;
    height: 41px;
	float: left;
	}
.sign-in{
	padding-top: 10px;
	margin-left: 130px;}



.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {

    border-right: 0px;
}
 .add-on .input-group-btn > .btn { border-left-width:0;left:-2px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);}
/* stop the glowing blue shadow */
.add-on .form-control:focus { box-shadow:none;-webkit-box-shadow:none;  border-color:#cccccc; }
#search>.form-control{width: auto !important;display: -webkit-box !important;}
button.btn.btn-default.custom-button {  height: initial;   color: #928b8b; background: #fff;}
.input-group-btn.srch-term {  display: -webkit-box !important;}
a.logout {
    padding: 0px !important;
    line-height: 40px !important;
}

.tag.searchitem {
    min-height: 300px;
}

.tag.searchitem a img {
    width: 100%;
    height: 180px;
}


