{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div class="container">
<div class="navbar-header">
<div class="scf-site-navbar hidden-xs" role="navigation" id="custom">
    <ul class="nav nav-pills scf-site-nav  text-center">
        {{#each navItems}}
            <li><a href="{{url}}">{{i18n title}}</a></li><li>|</li>
        {{/each}}
        {{#if userAdmin}}
            <li><a href="{{adminUrl}}">{{i18n "Administration"}}</a></li>
        {{/if}}
    </ul>
</div>
</div>
</div>

<nav class="scf-site-navbar navbar navbar-default hidden-lg hidden-md hidden-sm">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#unless loggedInUser.loggedIn}}
                <a class="navbar-link navbar-brand" href="{{siteUrl}}/signin.html">{{i18n "Log In"}}</a>
                {{else}}
                    <a class="navbar-link navbar-brand" href="/system/sling/logout.html?resource={{siteUrl}}.html">{{i18n "Log Out"}}</a>
            {{/unless}}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="primary-nav">
            <ul class="nav navbar-nav">
                {{#each navItems}}
                    <li><a href="{{url}}">{{i18n title}}</a></li>
                {{/each}}
                {{#if userAdmin}}
                    <li><a href="{{adminUrl}}">{{i18n "Administration"}}</a></li>
                {{/if}}
            </ul>
            <form data-paths="{{this.properties.searchPath}}" class="scf-js-searchform navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" name="input_value" placeholder="{{i18n "Search..."}}" class="form-control scf-search-value, scf-js-search-value">
                    <input style="display:none" type="checkbox" class="scf-js-search-jcrtitle" value="jcr:title" checked></input>
                    <input style="display:none" type="checkbox" class="scf-js-search-jcrdescription" value="jcr:description" checked></input>
                    <input style="display:none" type="checkbox" class="scf-js-search-tag" value="tag" checked></input>
                    <input style="display:none" type="checkbox" class="scf-js-search-userIdentifier" value="userIdentifier" checked></input>
                    <input type="hidden" name="resultPage" class="scf-js-seach-resultPage" value="{{this.properties.searchPage}}"></input>
                </div>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
