body {
    padding: 0px;
}

.tag a img {
    width: 100%;
    height: 180px;
}

object#scf-asset-element {
    width: 100%;
    min-height: 400px;
}

.scf-asset-cover.scf-js-asset-cover {
    display: none;
}

.modal {
    z-index: 1041 !important;
}

button.scf-enablement-fullscreen-button.btn.btn-default {
    display: none !important;
}

span.tag-display {
    background: #ff0409;
    color: #FFF;
    padding: 10px 20px;
}

.enablement-resource-item {
    margin: 10px 0px;
}

.detail-cover {
    margin-bottom: 2%;
}

.tag {
    min-height: 300px;
}

.enablement-resource-item.enablement-resource-info-item.enablement-resource-comments {
    display: none;
}

.cr {
    width: 200px;
    padding: 7px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: #f0f0f0;
}

.cr-sticky {
  position: fixed;
}

.cr-top    { top: 18px; }
.cr-left   { left: -68px }

.cr-top.cr-left,
.cr-bottom.cr-right {
  transform: rotate(-45deg);
}

.cr-top.cr-right,
.cr-bottom.cr-left {
  transform: rotate(45deg);
}

.cr-white     { background-color: #f0f0f0; color: #444; }
