/*
 *
 * ADOBE CONFIDENTIAL
 * __________________
 *
 *  Copyright 2016 Adobe Systems Incorporated
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

.scf-wizardview-header {
    display: -webkit-flex;
    /* @polyfill Safari */
    display: flex;
    padding: 0 0.9375rem;
    height: 4.125rem;
    background-color: #FAFAFA;
}

.scf-wizard-title {
    line-height: 4.125rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scf-wizard-controls {
    margin-top: 0.875rem;
}

.scf-wizard-controls button,
.scf-wizard-controls a {
    margin-right: 0.625rem;
}

.scf-wizard-steplist {
    -webkit-flex: 1;
    flex: 1;
    margin-top: 0.875rem;
}

.scf-js-cq-social-blueprints-select {
    width: 100%;
}

.scf-js-cq-social-blueprints-select .coral3-Select-openIcon {
    top: 2px;
    left: 92%;
    position: absolute;
    font-size: .8125rem;
}

.scf-js-console-sitetemplates-groupTemplates > .scf-js-cq-social-blueprints-select .coral3-Select-openIcon {
    left: 80%;
}

.scf-js-cq-social-blueprints-select .coral-Tag-removeButton {
    line-height: 13px;
    height: 0;
    border: 0;
}
